html {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    height: 5%;
    background-color: #0a0c12;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h1 {
    color: #f6f5f4;
}

header a {
    color: #80cbc4;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1 {
    font-weight: bold;
    padding: 0 2em;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#main-wrapper {
    height: 95%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0f111a;
}

.horizontal-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 70%;
}

#engine-list {
    width: 20%;
    overflow-x: hidden;
    position: relative;
}

#engine-list-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: none;
}

#engine-list.disabled #engine-list-overlay {
    display: block;
}

.engine {
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
}

.engine-info {
    height: 100%;
    display: flex;
    width: 61%;
    flex-direction: column;
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
}

.engine-info p {
    display: inline-block;
}

.engine-name {
    color: white;
}

.engine-author {
    color: lightgray;
    font-size: 0.8em;
    font-weight: lighter;
    font-style: italic;
}

.engine-player1,
.engine-player2,
.engine-settings,
.engine-disconnect {
    height: 100%;
    width: 13%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.engine-player1:hover,
.engine-player2:hover,
.engine-settings:hover,
.engine-disconnect:hover,
.engine-player1.active,
.engine-player2.active {
    background-color: rgba(255, 255, 255, 0.1);
}

h3 {
    color: white;
    font-weight: bold;
}

#load-engine-button {
    width: 100%;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    background-color: #0a0c12;
    cursor: pointer;
}

#load-engine-button:hover {
    background-color: #212530;
}

#load-engine-button p {
    color: #80cbc4;
    font-weight: bold;
}

#game-screen {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#game-screen-canvas {
    width: 700px;
    height: 600px;
}

footer {
    background-color: gray;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 30%;
}

#game-controls {
    height: 20%;
    background-color: #0a0c12;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.general-controls, .game-controls {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.button a {
    color: #80cbc4;
    padding: 0 2em;
    display: inline-block;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.button a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.disabled a {    
    cursor: default;
    color: #505672;
    background-color: #0a0c12;
}

.disabled a:hover {
    color: #505672;
    background-color: #0a0c12;
}

#output-terminals {
    height: 80%;
    background-color: #0f111a;
    display: flex;
    flex-direction: row;
}

.terminal {
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.terminal h6 {
    height: 10%;
    color: #8f93a2;
}

.terminal .rule {
    height: 10%;
}

.terminal p {
    font-family: Courier New;
    color: #505672;
    font-size: 0.7em;
    height: 80%;
}

.scroll {
    overflow-y: scroll;
}

/* Load engine overlay */
#load-engine-overlay {
    height: 95%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}

#load-engine-list {
    border: 5px solid #0a0c12;
    background-color: #0f111a;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prefix {
    color: #505672;
    padding-right: 0.3em;
    font-size: 0.8em;
}

.file-path {
    width: 35em;
    margin: 0.1em;
    display: flex;
    flex-direction: row;
    font-style: italic;
    justify-content: space-between;
    background-color: #0a0c12;
    color: #8f93a2;
}

.file-info {
    padding: 1em;
}

.file-button {
    padding: 1em;
    background-color: #394e33;
    font-weight: bold;
    cursor: pointer;
}

.file-button:hover {
    background-color: #4e6842;
}

/* Engine settings overlay */
#engine-settings-overlay {
    height: 95%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: none;
}

#engine-settings-list {
    border: 5px solid #0a0c12;
    background-color: #0f111a;
    padding: 2em;
    display: flex;
    align-items: center;
}

#engine-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.2em;
}

.engine-setting {
    width: 35em;
    margin: 0.1em;
    display: flex;
    flex-direction: row;
    font-style: italic;
    justify-content: space-between;
    background-color: #0a0c12;
    color: #8f93a2;
}

.engine-setting-name,
.engine-setting-control {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.engine-setting-name {
    justify-content: left;
}

.engine-setting-control {
    justify-content: right;
}

.engine-setting-name {
    width: 50%;
}

.engine-setting-control {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.setting-update-button {
    background-color: #0f111a;
    color: #4f5158;
    padding: 0 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2em;
    margin-left: 0.5em;
    cursor: default;
}

.setting-update-button.clickable {
    background-color: #1a565d;
    color: #8f93a2;
    cursor: pointer;
}

.setting-update-button.clickable:hover {
    background-color: #32738d;
    color: #ffffff;
}

.setting-checkbox {
    width: 1em;
    height: 1em;
    background-color: #393d4e;
    cursor: pointer;
}

.setting-checkbox.checked {
    background-color: #32738d;
}

.setting-spin {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.setting-spin input {
    -webkit-appearance: none; 
    -moz-appearance:textfield;
    height: 2em;
    border: 0;
    padding: 0 0.5em;
    margin: 0;
    width: 75%;
    background-color: #0f111a;
    color: #8f93a2;
}

.setting-spin .spin-arrows {
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 2em;
}

.setting-spin .spin-up,
.setting-spin .spin-down {
    width: 100%;
    height: 50%;
    background-color: #0f111a;
    color: #8f93a2;
    cursor: pointer;
}

.setting-combo {
    width: 100%;
    position: relative;
    height: 2em;
}

.setting-combo .option {
    display: flex;
    width: 100%;
    height: 2em;
}

.setting-combo .option > * {
    width: 100%;
}

.setting-combo:hover > .options {
    display: flex;
}

.setting-combo .selected {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: #0f111a;
    cursor: default;
}

.setting-combo .options {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #0f111a;
    display: none;
    cursor: pointer;
}

.setting-combo .options .option {
    border-top: 0.1em solid #0a0c12;
}

.setting-combo p {
    display: block;
    padding: 0.4em 0.5em;
}

.setting-combo .options .option:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

.setting-button {
    width: 100%;
    height: 2em;
    background-color: #1a565d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.setting-button:hover {
    width: 100%;
    height: 2em;
    background-color: #32738d;
    color: white;
}

.setting-string {
    width: 100%;
    height: 2em;
    display: flex;
    position: relative;
    background-color: #0f111a;
    padding: 0 0.5em;
}

.setting-string input {
    display: block;
    -webkit-appearance: none; 
    -moz-appearance:textfield;
    height: 2em;
    border: 0;
    padding: 0;
    width: 100%;
    background-color: #0f111a;
    color: #8f93a2;
}

/* Common overlay styles */

.go-back-button {
    padding: 0.7em 1em;
    background-color: #772d2d;
    font-weight: bold;
    cursor: pointer;
    color: #8f93a2;
    margin: 0.1em;
    align-self: end;
    display: block;
    float: right;
}

.go-back-button:hover {
    background-color: #914242;
}

.loader {
    border: 0.3em solid #0a0c12;
    border-top: 0.3em solid #3498db;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;

    display: none;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

